<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
	<link rel="stylesheet" href="css/main.css">	
	<script src="js/jquery-3.3.1.min.js"></script>
	<title>Contáctanos</title>

	
</head>
<body>
	<div class="container">
		<header>
			<div class="row center-xs">
				<div class=" col-lg-6			
								col-xs-6">
					<div class="box">
						<img id="logo" src="img/logo_hueso.png" alt="Aquí estaba el logo">
						
					</div>			
				</div>
				<div class=" col-lg-6							
							  	col-xs-6">
					<h1 id="titulo">Mis Perris</h1>
				</div>
			</div>
		</header>
		<nav>
			<div class="row center-xs">
				<div class="col col-lg-3
							col-md-6
							col-sm-12
							col-xs-12">
					<div class="boxNav">
						<a href="index.html"><h3>Inicio</h3></a>					
					</div>
				</div>

				<div class="col col-lg-3
								col-md-6
								col-sm-12
								col-xs-12">
					<div class="boxNav">	
						<a href="#"><h3>Quienes Somos</h3></a>				
					</div>
				</div>

				<div class="col col-lg-3
								col-md-6
								col-sm-12
								col-xs-12">
					<div class="boxNav">
						<a href="#"><h3>Servicios</h3></a>						
					</div>
				</div>

				<div class="col col-lg-3
								col-md-6
								col-sm-12
								col-xs-12">
					<div class="boxNav">	
						<a href="formulario.html"><h3>Contáctanos</h3></a>						
					</div>
				</div>	
			</div>
		</nav>
		
		<section>
			<div class="row center-xs">
				<div class="col col-xs-12">					
					<form id="reg_formu" action="#" >
		              <h2>Crear Cuenta para Adopción</h2>
		                    
		                    <div>Correo Electrónico:
		                    	<input type="email" id="email" required placeholder="correo@dominio.cl">
		                     </div>


		                      <div>Run : <input type="text" minlength="10" maxlength="10" 
		                                       id="txtRut"
		                                       onkeyup="checkRut()" 
		                                placeholder="Ingrese Rut" required ></div>

		                      <div>Nombre Completo : <input type="text" id="txtNombre" 
		                                required></div>

		                      <div>Fecha de Nacimiento : <input id="fechaNac" type="date" required max="2001-01-01"></div>

		                      <div>Telefono de Contacto : <input type="text"  id="txtTel" maxlength="9" 
                                onkeypress="return solonumeros(event)"
                                placeholder="Ingrese Telefono" required > </div>

		                      <div>Region : 
		                      <select id="txtRegion" oninput="selectCity()" required="">
		                      </select>
		                      </div>

		                      <div for="txtCity">Ciudad : 
		                      <select id="txtCity" required></select>
		                      </div>

		                      <div>Tipo de Vivienda : 
		                      <select required>
		                      <option value="Casa con patio grande">Casa con patio grande</option>
		                      <option value="Casa con patio pequeño">Casa con patio pequeño</option>
		                      <option value="Casa sin patio ">Casa sin patio</option>
		                      <option value="Departamento">Departamento</option>
		                      </select>
		                      </div>
		                      <script src="js/region.js"></script>
		                      <script src="js/validarRUT.js"></script>
		                     
		                    <button type="submit" value="Registrar" id="btnValidar"> Registrar </button>                 
		        	</form>		        
				</div>
			</div>
			<div class="row start-xs">
				<div class="col col-xs-12">
					<img id="imgPerrito" src="img/perrito.jpg" alt="aquí habia una imagen de un perro">
				</div>
			</div>
		</section>

		<footer>
			<div class="row start-xs">
				<div class="box">
					<p id="pFinal">Desarrollo Web y Mobile</p>
					<br/>
				</div>
			</div>
		</footer>
	</div>
	

</body>
</html>